<div id="<%= dom_id subscription_plan %>">
  <p>
    <strong>Name:</strong>
    <%= subscription_plan.name %>
  </p>

  <p>
    <strong>Row limit:</strong>
    <%= subscription_plan.row_limit %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= subscription_plan.price %>
  </p>

</div>
