<div class="color-controls">
  <label>Green Periods:</label>
  <input type="number" id="green-periods" value="12" min="0" max="36" step="1">

  <label>Blue Periods:</label>
  <input type="number" id="blue-periods" value="12" min="0" max="36" step="1">

  <label>Red Periods:</label>
  <input type="number" id="red-periods" value="12" min="0" max="36" step="1">

  <button onclick="updateChartColors()">Update Colors</button>
</div>