<%
  # Assuming @forecast_rows_header is an array of strings like your example:
  priority = ["Product", "Category", "Sub-Category"]

  @forecast_rows_header = @forecast_rows_header.sort_by do |key|
    if priority.include?(key)
      # Give priority items a smaller sort index to appear first
      priority.index(key)
    else
      # All other keys come after priority keys, keep their original order or sort them alphabetically
      priority.size + 1
    end
  end
%>


<% if @modify_table_forecast_rows.present? %>
  <div class="data-table-wrapper">
    <table class="data-table">
      <thead id="table-headers">
      <tr>
        <% @forecast_rows_header.each do |key| %>
          <th><%= key %></th>
        <% end %>
      </tr>
      </thead>
      <tbody id="data-table-body">
      <% @modify_table_forecast_rows.each do |forecast_row| %>
        <tr>
          <% @forecast_rows_header.each do |key| %>
            <td><%= forecast_row[:data][key] %></td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>