<% if comparison_data.present? %>
  <% priority = ["Category", "Product", "Sub-Category"] %>
  <% reordered_keys = priority + (all_keys - priority) %>

  <h3>Tabela de Diferenças</h3>
  <div id="scroll-area" style="height: 600px; overflow-y: auto;">
    <div class="data-table-wrapper">
      <table class="data-table">
        <thead>
        <tr>
          <% reordered_keys.each do |key| %>
            <th><%= key %></th>
          <% end %>
        </tr>
        </thead>
        <tbody id="content-area">
        <!-- Clusterize will inject rows here -->
        </tbody>
      </table>
    </div>
  </div>

  <script>
      document.addEventListener("turbo:frame-load", function (event) {
          if (event.target.id === "difference_table") {
              // Check if Clusterize is already available
              if (typeof Clusterize === "undefined") {
                  const script = document.createElement("script");
                  // script.src = "https://cdnjs.cloudflare.com/ajax/libs/clusterize.js/0.18.1/clusterize.min.js";
                  script.src = "https://cdn.jsdelivr.net/npm/clusterize.js@0.18.1/clusterize.min.js";
                  // Debug loading
                  script.onload = function () {
                      initClusterize();
                  };

                  script.onerror = function () {
                      console.error('❌ Failed to load Clusterize.js from CDN!');
                  };

                  document.body.appendChild(script);
              } else {
                  initClusterize();
              }

              function initClusterize() {
                  const clusterizeRows = [
                      <% comparison_data.each do |row| %>
                      `<tr>
          <% reordered_keys.each do |key| %>
            <% original_index = all_keys.index(key) %>
            <% diff = row[:values][original_index] %>
            <td style="color:<%= diff.is_a?(Numeric) ? (diff > 0 ? 'green' : (diff < 0 ? 'red' : 'black')) : 'black' %>;">
              <%= diff.is_a?(Numeric) ? (diff == 0 ? '0' : (diff > 0 ? "+#{diff}" : diff)) : diff %>
            </td>
          <% end %>
        </tr>`,
                      <% end %>
                  ];
                  new Clusterize({
                      rows: clusterizeRows,
                      scrollId: 'scroll-area',
                      contentId: 'content-area',
                      rows_in_block: 1200,
                      blocks_in_cluster:120
                  });
              }
          }
      });
  </script>
<% end  %>