<div id="<%= dom_id csv_file %>">
  <p>
    <strong>User:</strong>
    <%= csv_file.user_id %>
  </p>

  <p>
    <strong>Filename:</strong>
    <%= csv_file.filename %>
  </p>

  <p>
    <strong>Row count:</strong>
    <%= csv_file.row_count %>
  </p>

</div>
